{% block head_scripts %}
	<!-- TrustBox script -->
	<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js" async></script>
	<!-- End Trustbox script -->
{% endblock %}

<!-- TrustBox widget -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="53a837e0000064000578f8ba" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5">
	<a href="https://uk.trustpilot.com/review/zizoo.com" target="_blank">Trustpilot</a>
</div>
<!-- End TrustBox widget -->