.idea
.DS_Store
.buildpath
.project
.settings/
*.sublime-project
*.sublime-workspace
.sass-cache/
autoload.php.dist
bower.json
circle.yml
codeception.yml
composer.json
composer.phar
Gemfile
Gemfile.lock
gulp_error.png
gulpfile.js
package.json
phpcs.xml
phpmd.xml
phpunit.xml.dist
TODO.md
Vagrantfile
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/bin/*
!bin/fullreload
!bin/travis_*
etc/
features/
node_modules/
spec/
tests/
tmp/
vendor/
web/robots.txt
web/Kunstmaan*BundleAssets/
web/assets/ct/
web/bundles/
web/css
web/frontend
web/generated-css
web/generated-js
web/js/
web/uploads
web/vendor/