{% if resource.video is defined and resource.video %}
    <div class="video-pp">

        {% if resource.thumbnail is not empty %}
            {% set videoImage = asset(resource.thumbnail.url|imagine_filter('optim')) %}
        {% endif %}

        {% set handler = mediamanager.getHandler(resource.video) %}
        {% set helper = handler.getFormHelper(resource.video) %}

	    {% set videoImage = helper.thumbnailUrl %}

        {% if helper.type == 'youtube' %}
            {% set videoEmbedUrl = "//www.youtube.com/embed/" ~ helper.code%}
        {% elseif helper.type == 'vimeo' %}
            {% set videoEmbedUrl = "//player.vimeo.com/video/" ~ helper.code %}
        {% elseif helper.type == 'dailymotion' %}
            {% set videoEmbedUrl = "//www.dailymotion.com/embed/video/" ~ helper.code%}
        {% endif %}

        <div class="videolink">
            <div class="js-videolink-container videolink__video-container style embed-container">
            {#<div class="embed-container">#}
		            <iframe src='{{ videoEmbedUrl }}' autoplay="false" frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
        {% if resource.caption %}
            <div class="caption">{{ resource.caption }}</div>
        {% endif %}
    </div>
{% endif %}

{% block head_styles %}
	{% stylesheets
	'assets/new/css/components/pageparts/video-pp.css'
	filter='cssrewrite,?uglifycss'
	package='zizoo'
	%}
	<link rel="stylesheet" href="{{ asset(asset_url, 'zizoo') }}?{{ assets_version() }}">
	{% endstylesheets %}
{% endblock %}