
/* Buttons
   ========================================================================== */

.button {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    -webkit-appearance: none;
    transition: background-color 0.1s ease;
}
.button:hover,
.button:active {
    text-decoration: none;
    background-color: #ddd;
    color: #fff;
    border-color: #ccc;
}
.button:focus {
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
}
.button[disabled],
.button[disabled]:hover
.button[disabled]:active
.button[disabled]:focus {
    background: #ccc !important;
    color: #fff !important;
    border-color: #aaa !important;
}

    /* Sizes */

    .button--block { width: 100%; display: block; text-align: center; }
    .button--s { font-size: 12px; padding: 4px 10px; }
    .button--m { font-size: 14px; padding: 10px; text-transform: uppercase; }
    .button--m-alt { font-size: 12px; padding: 10px; text-transform: uppercase; }
    .button--l { font-size: 16px; padding: 11px; text-transform: uppercase; }
    .button--l-alt { font-size: 14px; padding: 15px 30px; text-transform: uppercase; }
    .button--xl { font-size: 18px; padding: 15px; text-transform: uppercase; }


    /* Styles */

    .button--square {
        border-radius: 0;
    }

    .button--glass {
        padding: 8px 8px;
        min-width: 2.6em;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        background: transparent;
        color: #fff;
        border-radius: 0;
        border-color: #fff;
    }
    .button--glass:hover,
    .button--glass:focus,
    .button--glass.button--active {
        background-color: #fff;
        color: #242424;
    }

    .button--primary {
        color: #fff;
        border-color: #FC850F;
        background-color: #FC850F;
    }
    .button--primary:hover,
    .button--primary:active {
        background-color: #E8821C;
        border-color: #E8821C;
    }

    .button--secondary {
        color: #fff;
        border-color: #47c2d2;
        background-color: #47c2d2;
    }
    .button--secondary:hover,
    .button--secondary:active {
        background-color: #35A3B2;
        border-color: #35A3B2;
    }
    .button--secondary:focus { color: #fff; }

    .button--danger {
        color: #fff;
        border-color: #B70C0C;
        background-color: #B70C0C;
    }
    .button--danger:hover,
    .button--danger:active {
        background-color: #9E0808;
        border-color: #9E0808;
    }

    .button--brand-dark {
        color: #fff;
        border-color: #0A4856;
        background-color: #0A4856;
    }
    .button--brand-dark:hover,
    .button--brand-dark:active {
        background-color: #07333D;
        border-color: #07333D;
    }

    .button--luxury {
        color: #fff;
        border-color: #9d874f;
        background-color: #9d874f;
    }
    .button--luxury:hover,
    .button--luxury:active {
        background-color: #796E40;
        border-color: #9d874f;
    }

    .button--facebook {
        color: #fff;
        border-color: #3b5998;
        background-color: #3b5998;
    }
    .button--facebook:hover,
    .button--facebook:active {
        background-color: #223B6F;
        border-color: #223B6F;
    }

    .button--black {
        color: #fff;
        border-color: #333;
        background-color: #333;
    }
    .button--black:hover,
    .button--black:active {
        background-color: #000;
        border-color: #000;
    }

    .button--dist {
        color: #fff;
        border-color: #EB4E4C;
        background-color: #EB4E4C;
    }
    .button--dist:hover,
    .button--dist:active {
        background-color: #B13937;
        border-color: #B13937;
    }

    .button--xmas {
        color: #fff;
        border-color: #c1152d;
        background-color: #c1152d;
    }
    .button--xmas:hover,
    .button--xmas:active {
        background-color: #B13937;
        border-color: #B13937;
    }

    .button--brand {
        color: #fff;
        border-color: #47c2d2;
        background-color: #47c2d2;
    }
    .button--brand:hover,
    .button--brand:active {
        background-color: #0A4856;
        border-color: #0A4856;
    }
