
/* Lists
   ========================================================================== */

.list-flat {}
    .list-flat > .list__item { display: inline-block; margin-right: -4px; width: auto; }

    .list-flat--spaced > .list__item { padding-right: 15px; }
        .list-flat--spaced > .list__item:last-child { padding-right: 0; }

    .list-flat--dotted > .list__item { position: relative; padding-left: 20px; }
        .list-flat--dotted > .list__item:before { content: "•"; position: absolute; top: 50%; left: 7px; margin-top: -6px; font-size: 12px; line-height: 1; }
        .list-flat--dotted > .list__item:first-child { padding-left: 0; }
        .list-flat--dotted > .list__item:first-child:before { display: none; }

.list-pairs {}
    .list-pairs:after { content: ' '; display: table; clear: both; }
    .list-pairs__key,
    .list-pairs__val { float: left; }
    .list-pairs__key { clear: left; }
        .list-pairs__key:after { content: ': '; margin-right: 0.2em; }
    .list-pairs__val { clear: right; }
        .list-pairs__val:after {  }

.list-basic {}
    .list-basic > .list__item { margin-bottom: 15px; }
    .list-basic--s > .list__item { margin-bottom: 10px; }

    .list__item--image {
        position: relative;
        min-height: 100px;
        padding-left: 110px;
    }
    .list__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        border: 2px solid #ddd;
    }

.list-underlined {}
    .list-underlined > .list__item { padding: 10px 15px; border-top: 1px solid #d8d8d8; }
    .list-underlined > .list__item:first-child { border-top: none; }
    .list-underlined--linked .list__item { padding: 0; }
    .list-underlined--linked .list__link { display: block; padding: 10px 15px; }
    .list-underlined--xl > .list__item { padding: 55px 15px 35px; }

.list-bulleted, .list-numbered { margin-left: 1.2em; margin-bottom: 1em; }
    .list-bulleted > .list__item, .list-numbered > .list__item { margin-bottom: 0.5em; }
    .list-bulleted { list-style-type: disc; }
    .list-numbered { list-style-type: decimal; }

.list-table {}
    .list-table__row { display: table; table-layout: fixed; width: 100%; }
    .list-table__col {
        display: table-cell;
        vertical-align: middle;
        padding: 15px 10px 15px 0;
    }
    .list-table__col--figure { display: none; }
    .list-table__col--data { width: 80%; font-size: 13px; }
    .list-table__data-title { display: block; font-weight: bold; line-height: 1.3; text-transform: uppercase; }
    .list-table__data-meta { line-height: 1.3; }
    .list-table__col--price { padding-right: 0; text-align: center; }
    .list-table__price-amount { display: block; font-size: 18px; line-height: 1; }
    .list-table__price-text { display: block; font-size: 10px; }
    .list-table__price-text { display: block; font-size: 10px; }

    @media only screen and (min-width: 900px) {
        .list-table__col--figure { display: table-cell; width: 52px; }
        .list-table__col--data { width: 70%; }
        .list-table__price-amount { font-size: 24px; }
    }

/* Navigation
   ========================================================================== */
